<h2 class="drawing-title">{{ "forms" | transloco }}</h2>
<div class="drawing-forms">
	<button
		type="submit"
		(click)="setPointShape('Circle')"
		class="draw-forms-button"
		[ngClass]="getActive('Circle')"
	>
		<div [inlineSVG]="'forms_point/form-circle.svg'"></div>
	</button>
	<button
		type="submit"
		(click)="setPointShape('Cross')"
		class="draw-forms-button"
		[ngClass]="getActive('Cross')"
	>
		<div [inlineSVG]="'forms_point/form-plus.svg'"></div>
	</button>
	<button
		type="submit"
		(click)="setPointShape('Diamond')"
		class="draw-forms-button"
		[ngClass]="getActive('Diamond')"
	>
		<div [inlineSVG]="'forms_point/form-square.svg'" class="rotate"></div>
	</button>
	<button
		type="submit"
		(click)="setPointShape('Square')"
		class="draw-forms-button"
		[ngClass]="getActive('Square')"
	>
		<div [inlineSVG]="'forms_point/form-square.svg'"></div>
	</button>
	<button
		type="submit"
		(click)="setPointShape('Cancel')"
		class="draw-forms-button"
		[ngClass]="getActive('Cancel')"
	>
		<div [inlineSVG]="'forms_point/form-plus.svg'" class="rotate"></div>
	</button>
</div>
<h2 class="drawing-title">{{ "pointSize" | transloco }}</h2>
<app-draw-size
	[(size)]="pointSize"
	(sizeChange)="updatePointSize()"
></app-draw-size>
<h2 class="drawing-title">{{ "fillColor" | transloco }}</h2>
<app-draw-color [color]="pointColor" [tool]="tool"></app-draw-color>
<h2 class="drawing-title">{{ "transparency" | transloco }}</h2>
<app-draw-transparency [tool]="tool"></app-draw-transparency>
<div class="checkbox-container">
	<label class="checkbox-container__item">
		<input type="checkbox" [(ngModel)]="addCoordinates" />
		<span>{{ "addPoint" | transloco }}</span>
	</label>
	<label class="checkbox-container__item">
		<input
			type="checkbox"
			[(ngModel)]="showCoordinates"
			[disabled]="showCoordinatesFlag === false"
			(click)="showCoordinatesChange()"
		/>
		<span>{{ "showDrawCoordinates" | transloco }}</span>
	</label>
</div>
<app-coordinate-input
	*ngIf="addCoordinates"
	[tool]="tool"
	[showCoordinates]="showCoordinates"
></app-coordinate-input>
