.notification {
	position: fixed;
	top: 16px;
	right: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	color: white;
	background-color: #d32f2f;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;

	&.show {
		opacity: 1;
	}

	button {
		font-size: 16px;
		color: white;
		cursor: pointer;
		background: none;
		border: none;
	}
}
