<h2>Форма</h2>
<div class="choice">
	<button
		type="submit"
		(click)="setPointStyle('Circle')"
		[ngClass]="{ active: pointStyle === 'Circle' }"
	>
		Circle
	</button>
	<button
		type="submit"
		(click)="setPointStyle('Cross')"
		[ngClass]="{ active: pointStyle === 'Cross' }"
	>
		Cross
	</button>
	<button
		type="submit"
		(click)="setPointStyle('Square')"
		[ngClass]="{ active: pointStyle === 'Square' }"
	>
		Square
	</button>
	<button
		type="submit"
		(click)="setPointStyle('Diamond')"
		[ngClass]="{ active: pointStyle === 'Diamond' }"
	>
		Diamond
	</button>
	<button
		type="submit"
		(click)="setPointStyle('Cancel')"
		[ngClass]="{ active: pointStyle === 'Cancel' }"
	>
		Cancel
	</button>
</div>

<app-draw-size
	[name]="'Размер'"
	[(size)]="pointSize"
	(sizeChange)="updatePointSize()"
></app-draw-size>
