<div>
	<h2>Заливка</h2>
	<select (change)="setFigureFillStyle($event)">
		<option *ngFor="let style of figureFillStyles" [value]="style">
			{{ style }}
		</option>
	</select>
</div>

<div>
	<h2>Контур</h2>
	<select (change)="setLineStyle($event)">
		<option *ngFor="let style of lineStyles" [value]="style">
			{{ style }}
		</option>
	</select>
</div>

<app-draw-size
	[name]="'Толщина контура'"
	[(size)]="figureSize"
	(sizeChange)="updateFigureSize()"
></app-draw-size>
<h2>Stroke</h2>
<app-draw-color
	[color]="figureStrokeColor"
	[tool]="tool"
	[type]="'stroke'"
></app-draw-color>
<h2>Fill</h2>
<app-draw-color
	[color]="figureFillColor"
	[tool]="tool"
	[type]="'fill'"
></app-draw-color>
<app-draw-transparency [tool]="tool" [type]="allType"></app-draw-transparency>
