<div class="tools">
	<button (click)="drawPoint()" type="submit">Draw Point</button>

	<button (click)="drawLine()" type="submit">Draw Line</button>
	<button (click)="drawPolygon()" type="submit">Draw Polygon</button>
	<button (click)="drawFreeLine()" type="submit">Draw Free Line</button>
	<button (click)="drawFreePolygon()" type="submit">Draw Free Polygon</button>
	<button (click)="drawCircle()" type="submit">Draw Circle</button>
	<div class="form">
		<ng-container *ngFor="let tool of tools">
			<app-draw-point
				*ngIf="componentVisibility[tool] && tool === 'drawPoint'"
				[pointSize]="pointSize"
				[pointColor]="pointColor"
				[tool]="tool"
				(pointSizeChange)="updateSize($event, tool)"
			></app-draw-point>
			<app-draw-line
				*ngIf="componentVisibility[tool] && tool === 'drawLine'"
				[lineSize]="lineSize"
				[lineColor]="lineColor"
				[tool]="tool"
				(lineSizeChange)="updateSize($event, tool)"
			></app-draw-line>
			<app-draw-polygon
				*ngIf="componentVisibility[tool] && tool === 'drawPolygon'"
				[polygonSize]="polygonSize"
				[polygonFillColor]="polygonFillColor"
				[polygonStrokeColor]="polygonStrokeColor"
				[tool]="tool"
				(polygonSizeChange)="updateSize($event, tool)"
			></app-draw-polygon>
		</ng-container>
	</div>
</div>
