.slider-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1.25rem;
	background-color: var(--primary-700);

	&__slider {
		box-sizing: border-box;
		display: inline-block;
		width: auto;
		min-width: 112px;
		margin-right: 12px;
		margin-left: 12px;
		vertical-align: middle;
		outline: none;
	}

	&__button-fixer {
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;

		&--reverse {
			div {
				transform: rotate(180deg);
			}
		}
	}

	&__button-fixer > button {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: inherit;
		border: none;
		outline: none;
	}
}
