<div>
	<p>{{ "outline" | transloco }}</p>
	<select (change)="setLineStyle($event)">
		<option *ngFor="let style of lineStyles" [value]="style">
			{{ style }}
		</option>
	</select>
</div>

<div>
	<p>{{ "fill" | transloco }}</p>
	<select (change)="setFreePolygonFillStyle($event)">
		<option *ngFor="let style of polygonFillStyles" [value]="style">
			{{ style }}
		</option>
	</select>
</div>

<p>{{ "outlineThickness" | transloco }}</p>
<app-draw-size
	[(size)]="freePolygonSize"
	(sizeChange)="updateFreePolygonSize()"
></app-draw-size>
<p>{{ "outlineColor" | transloco }}</p>
<app-draw-color
	[color]="freePolygonStrokeColor"
	[tool]="tool"
	[type]="'stroke'"
></app-draw-color>
<p>{{ "fillColor" | transloco }}</p>
<app-draw-color
	[color]="freePolygonFillColor"
	[tool]="tool"
	[type]="'fill'"
></app-draw-color>
<p>{{ "transparency" | transloco }}</p>
<app-draw-transparency [tool]="tool" [type]="type"></app-draw-transparency>
