<div class="shape-container">
	<button (click)="addDrawInteraction('Arrow')" class="button-shape">
		<div [inlineSVG]="'forms_figure/tool-arrow.svg'"></div>
	</button>
	<button (click)="addDrawInteraction('Rectangle')" class="button-shape">
		<div [inlineSVG]="'forms_figure/tool-rectangle.svg'"></div>
	</button>
	<button (click)="addDrawInteraction('Square')" class="button-shape">
		<div [inlineSVG]="'forms_figure/tool-square.svg'"></div>
	</button>
	<button (click)="addDrawInteraction('Triangle')" class="button-shape">
		<div [inlineSVG]="'forms_figure/tool-triangle.svg'"></div>
	</button>
	<button (click)="addDrawInteraction('Circle')" class="button-shape">
		<div [inlineSVG]="'forms_figure/tool-circle.svg'"></div>
	</button>
</div>
