.container {
	display: flex;
	flex-direction: column;

	&-text {
		margin-bottom: 0.8333rem;
		font-size: 0.625rem;
		text-transform: uppercase;
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 0.9375rem;
	}
}
