.scale-bar-container {
	display: flex;
	flex-flow: row-reverse nowrap;
	gap: 0.8333rem;
}

.scale-bar {
	display: flex;
	align-items: center;
	justify-content: center;
}

::ng-deep .ol-scale-bar {
	position: relative;
	bottom: 0;
	left: 0;
	display: flex;
}
