<div class="draw-container">
	<div class="draw-container__header">
		<span class="drawing-title">Инструменты рисования</span>

		<div class="draw-container__tools">
			<button
				(click)="drawPoint()"
				type="button"
				class="tools-button"
				[ngClass]="getActiveTool('drawPoint')"
			>
				<div [inlineSVG]="'/tools/point.svg'"></div>
			</button>
			<button
				(click)="drawLine()"
				type="button"
				class="tools-button"
				[ngClass]="getActiveTool('drawLine')"
			>
				<div [inlineSVG]="'/tools/polyline.svg'"></div>
			</button>
			<button
				(click)="drawPolygon()"
				type="button"
				class="tools-button"
				[ngClass]="getActiveTool('drawPolygon')"
			>
				<div [inlineSVG]="'/tools/polygon.svg'"></div>
			</button>
			<button
				(click)="drawFreeLine()"
				type="button"
				class="tools-button"
				[ngClass]="getActiveTool('drawFreeLine')"
			>
				<div [inlineSVG]="'/tools/freehand-polyline.svg'"></div>
			</button>
			<button
				(click)="drawFreePolygon()"
				type="button"
				class="tools-button"
				[ngClass]="getActiveTool('drawFreePolygon')"
			>
				<div [inlineSVG]="'/tools/freehand-polygon.svg'"></div>
			</button>
			<button
				(click)="drawFigure()"
				type="button"
				class="tools-button"
				[ngClass]="getActiveTool('drawFigure')"
			>
				<div [inlineSVG]="'/tools/forms.svg'"></div>
			</button>
		</div>

		<span class="drawing-title">Инструменты редактирования</span>
		<div class="draw-container__tools">
			<app-draw-delete-on-click
				(click)="deleteOnClick()"
				[ngClass]="getActiveTool('deleteOnClick')"
				(interactionDeleted)="deleteActiveInteraction()"
			></app-draw-delete-on-click>
			<app-draw-delete-all
				(interactionDeleted)="deleteActiveInteraction()"
			></app-draw-delete-all>
		</div>
	</div>
	<div class="draw-container__main">
		<ng-container *ngFor="let tool of tools">
			<app-draw-point
				*ngIf="componentVisibility[tool] && tool === 'drawPoint'"
				[tool]="tool"
				(pointSizeChange)="updateSize($event, tool)"
				class="tool-content"
			></app-draw-point>
			<app-draw-line
				*ngIf="componentVisibility[tool] && tool === 'drawLine'"
				[tool]="tool"
				(lineSizeChange)="updateSize($event, tool)"
				class="tool-content"
			></app-draw-line>
			<app-draw-polygon
				*ngIf="componentVisibility[tool] && tool === 'drawPolygon'"
				[tool]="tool"
				(polygonSizeChange)="updateSize($event, tool)"
				class="tool-content"
			></app-draw-polygon>
			<app-draw-free-line
				*ngIf="componentVisibility[tool] && tool === 'drawFreeLine'"
				[tool]="tool"
				(freeLineSizeChange)="updateSize($event, tool)"
				class="tool-content"
			></app-draw-free-line>
			<app-draw-free-polygon
				*ngIf="componentVisibility[tool] && tool === 'drawFreePolygon'"
				[tool]="tool"
				(freePolygonSizeChange)="updateSize($event, tool)"
				class="tool-content"
			></app-draw-free-polygon>
			<app-draw-figure
				*ngIf="componentVisibility[tool] && tool === 'drawFigure'"
				[tool]="tool"
				(figureSizeChange)="updateSize($event, tool)"
				class="tool-content"
			></app-draw-figure>
		</ng-container>
	</div>
</div>
