<p>{{ "forms" | transloco }}</p>
<app-draw-shape></app-draw-shape>
<div>
	<p>{{ "outline" | transloco }}</p>
	<select (change)="setStrokeStyle($event)">
		<option *ngFor="let style of strokeStyles" [value]="style">
			{{ style }}
		</option>
	</select>
</div>
<div>
	<p>{{ "fill" | transloco }}</p>
	<select (change)="setFigureFillStyle($event)">
		<option *ngFor="let style of figureFillStyles" [value]="style">
			{{ style }}
		</option>
	</select>
</div>

<p>{{ "outlineThickness" | transloco }}</p>
<app-draw-size
	[(size)]="figureSize"
	(sizeChange)="updateFigureSize()"
></app-draw-size>
<p>{{ "outlineColor" | transloco }}</p>
<app-draw-color
	[color]="figureStrokeColor"
	[tool]="tool"
	[type]="'stroke'"
></app-draw-color>
<p>{{ "fillColor" | transloco }}</p>
<app-draw-color
	[color]="figureFillColor"
	[tool]="tool"
	[type]="'fill'"
></app-draw-color>
<p>{{ "transparency" | transloco }}</p>
<app-draw-transparency [tool]="tool" [type]="type"></app-draw-transparency>
