<div class="measurement-polygon">
	<div class="measurement-polygon__result">
		<div class="measurement-polygon__result_item">
			<strong>{{ "perimeter" | transloco }}:</strong>
			<span>{{ formatPerimeter(totalPerimeter) }}</span>
		</div>
		<select
			[(ngModel)]="selectedUnit"
			class="select"
			[ngClass]="{ 'expanded-select': selectedAreaUnit === 'squareKilometers' }"
		>
			<option value="meters">{{ "meters" | transloco }}</option>
			<option value="kilometers">{{ "kilometers" | transloco }}</option>
		</select>
		<div class="measurement-polygon__result_item">
			<strong>{{ "area" | transloco }}:</strong>
			<span>{{ formatArea(totalArea) }}</span>
		</div>
		<select
			[(ngModel)]="selectedAreaUnit"
			class="select"
			[ngClass]="{ 'expanded-select': selectedAreaUnit === 'squareKilometers' }"
		>
			<option value="squareMeters">{{ "squareMeters" | transloco }}</option>
			<option value="squareKilometers">
				{{ "squareKilometers" | transloco }}
			</option>
		</select>
	</div>
</div>
