.modal-container {
	position: absolute;
	z-index: 3;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-width: 164px;
	text-align: center;
	background: var(--primary-100);
	box-shadow: 1px 0 10px var(--accent-400);
	transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 1.333rem;
		color: var(--primary-100);
		cursor: move;
		background-color: var(--primary-700);
	}

	&__content {
		padding: 1.25rem;
	}

	&__content:has(.menu) {
		padding: 0;
	}

	&.turn {
		overflow: hidden;
		
		/* stylelint-disable-next-line selector-class-pattern */
		.modal-container__content {
			display: none;
		}
	}
}

.header {
	&__buttons {
		display: flex;
		gap: 0.8333rem;
	}

	&__buttons > button {
		min-width: 1rem;
		height: 1rem;
		padding: 0;
		line-height: 0;
		cursor: pointer;
		background-color: inherit;
		border: none;
		outline: none;
	}
}

.box-boundary {
	position: absolute;
	width: auto;
	height: auto;
}
