<div>
	<select [(ngModel)]="mode" (change)="changeMode(mode)">
		<option value="point">Кординаты точки</option>
		<option value="line">Измерение длины</option>
		<option value="polygon">Измерение периметра и площади</option>\
        <option value="circle">Измерение радиуса</option>
	</select>
</div>

<div *ngFor="let point of points">
	<p>
		Точка {{ point.id }}:
		{{ point.feature.getGeometry()!.getCoordinates()[0] }},
		{{ point.feature.getGeometry()!.getCoordinates()[1] }}
		<button (click)="removePoint(point.id)">Удалить</button>
	</p>
</div>

<div *ngFor="let line of lines">
	<p>
		Линия {{ line.id }}: {{ line.length }} метров
		<button (click)="removeLine(line.id)">Удалить</button>
	</p>
</div>

<div *ngFor="let polygon of polygons">
	<p>
		Полигон {{ polygon.id }}: Площадь: {{ polygon.area }} кв. метров, Периметр:
		{{ polygon.perimeter }} метров
	</p>
	<button (click)="removePolygon(polygon.id)">Удалить</button>
</div>

<div *ngFor="let circle of circles">
	<p>
		Полигон {{ circle.id }}: Площадь: {{ circle.radius }} метров,
	</p>
	<button (click)="removeCircle(circle.id)">Удалить</button>
</div>
