.side-nav-container {
	position: absolute;
	inset: 0;
	box-sizing: border-box;
	border-right: 0;

	&__side-nav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		background-color: var(--primary-900);
		border-right: 0;
	}

	&__button {
		width: 100%;
		height: 2.8125rem;
		color: var(--primary-100);
		cursor: pointer;
		background-color: var(--primary-900);
		border: none;
		outline: none;
	}

	&__button:hover {
		background-color: var(--primary-a100);
	}

	&__button.active {
		background-color: var(--primary-a100);
	}
}

.logo {
	&__icon {
		width: 100%;
		height: 2.9375rem;
		padding: 0.625rem;
		cursor: pointer;
		background-color: var(--primary-900);
		border: none;
		outline: none;

		img {
			width: 25px;
			height: 1.6875rem;
			object-fit: contain;
		}
	}
}

::ng-deep .mat-drawer-side {
	border: none !important;
}

