.measurement-circle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	font-size: 12px;

	&__result {
		width: 60%;

		&_item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 30px;
			margin-right: 0.8333rem;
		}
	}
}
