/* stylelint-disable selector-class-pattern */
.a {
	width: 100%;
}

:host ::ng-deep {
	.mat-mdc-slider {
		width: calc(100% - 20px);
		height: 42px;
		cursor: auto;
	}

	.mdc-slider__input {
		height: 42px;
		cursor: auto;
	}

	.mat-mdc-slider .mdc-slider__track {
		height: 2px;
		background-color: black;
	}

	.mat-mdc-slider .mdc-slider__track--active {
		height: 2px;
	}

	.mat-mdc-slider .mdc-slider__track--inactive {
		height: 2px;
	}

	.mat-mdc-slider .mdc-slider__track--active_fill {
		border-color: var(--primary-a100);
	}

	.mat-mdc-slider .mdc-slider__thumb-knob {
		width: 24px;
		height: 30px;
		background: url("/assets/images/thumb.png") transparent no-repeat;
		border: none;
		border-radius: 0;
		box-shadow: none;

		&::after {
			position: absolute;
			top: 0.25em;
			right: 13px;
			display: block;
			width: 2px;
			height: 6px;
			content: "";
			border: 0 solid #4ca5ce;
			border-right-width: 1px;
		}

		&:hover {
			background-color: transparent;
		}
	}

	.mat-mdc-slider .mdc-slider__thumb--focused .mdc-slider__thumb-knob {
		background-color: transparent;
		border-color: transparent;
	}

	.mat-mdc-slider .mdc-slider__thumb:hover .mdc-slider__thumb-knob {
		background-color: transparent;
		border-color: transparent;
	}

	.mdc-slider .mdc-slider__value-indicator-container {
		top: -15px;
		left: 23px;
		width: 20px;
		background-color: transparent;
	}

	.mdc-slider .mdc-slider__value-indicator {
		padding: 0;
		color: var(--font-color);
		background-color: transparent;
	}

	.mdc-slider .mdc-slider__value-indicator::before {
		display: none;
	}

	.mat-mdc-slider .mdc-slider__value-indicator-text {
		font-size: 10px;
		color: var(--accent-400);
	}

	.slider {
		&__start {
			order: 1;
		}

		&__end {
			order: 2;
		}

		&__marks {
			display: flex;
			justify-content: space-between;
		}
	}

	.slider__start,
	.slider__end {
		font-size: 10px;
		font-weight: 600;
		line-height: 1.0833rem;
		color: var(--accent-400);
	}
}

