.measurement-polygon {
	margin-bottom: 1rem;
	font-size: 12px;

	&__result {
		display: grid;
		grid-template-columns: 57% 1fr;
		grid-gap: 0.8333rem;
		align-items: center;

		&_item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 30px;
		}

		.select.expanded-select,
		.select.expanded-select ~ .select {
			width: calc(100% + 5px);
		}
	}
}
