<div>
	<select [(ngModel)]="mode">
		<option value="point">{{ "pointCoordinates" | transloco }}</option>
		<option value="line">{{ "measurementLine" | transloco }}</option>
		<option value="polygon">{{ "measurementPolygon" | transloco }}</option>
		<option value="circle">{{ "measurementCircle" | transloco }}</option>
	</select>
</div>

<ng-container [ngSwitch]="mode">
	<app-measurement-point
		*ngSwitchCase="'point'"
		[map]="map"
		[vectorSource]="vectorSource"
		(pointChange)="onPointChange($event)"
	></app-measurement-point>
	<app-measurement-line
		*ngSwitchCase="'line'"
		[map]="map"
		[vectorSource]="vectorSource"
		(lineChange)="onLineChange($event)"
	></app-measurement-line>
	<app-measurement-polygon
		*ngSwitchCase="'polygon'"
		[map]="map"
		[vectorSource]="vectorSource"
		(polygonChange)="onPolygonChange($event)"
	></app-measurement-polygon>
	<app-measurement-circle
		*ngSwitchCase="'circle'"
		[map]="map"
		[vectorSource]="vectorSource"
		(circleChange)="onCircleChange($event)"
	></app-measurement-circle>
</ng-container>

<div class="measurement-result">
	<div *ngFor="let measurement of allMeasurements">
		<ng-container *ngIf="isPoint(measurement)">
			<div>{{ "point" | transloco }} {{ measurement.id }}</div>
			X: {{ measurement.coordinates[0] }}, Y: {{ measurement.coordinates[1] }}
			<span *ngIf="measurement.coordinates[2]"
				>Z: {{ measurement.coordinates[2] }}</span
			>
		</ng-container>
		<ng-container *ngIf="isLine(measurement)">
			<div>{{ "line" | transloco }} {{ measurement.id }}</div>
			{{ measurement.length }}
		</ng-container>
		<ng-container *ngIf="isPolygon(measurement)">
			<div>{{ "polygon" | transloco }} {{ measurement.id }}</div>
			{{ measurement.area }} {{ measurement.perimeter }}
		</ng-container>
		<ng-container *ngIf="isCircle(measurement)">
			<div>{{ "circle" | transloco }} {{ measurement.id }}</div>
			{{ measurement.radius }}
		</ng-container>
		<button type="button" (click)="removeMeasurement(measurement)">
			{{ "delete" | transloco }}
		</button>
	</div>
</div>

<button type="button" (click)="removeAllMeasurement()">
	{{ "clear" | transloco }}
</button>
