<app-coordinate-system
	[spatialReferences]="spatialReferences"
	(selectedReferenceChange)="onSelectedReferenceChange($event)"
>
</app-coordinate-system>

<div [ngSwitch]="newProjection?.type">
	<div *ngSwitchCase="'degree'">
		<div>
			<h2>{{ "latitude" | transloco }}:</h2>
			<input type="text" [(ngModel)]="latitudeDegrees" />
			<input type="text" [(ngModel)]="latitudeMinutes" />
			<input type="text" [(ngModel)]="latitudeSeconds" />
		</div>
		<div>
			<h2>{{ "longitude" | transloco }}:</h2>
			<input type="text" [(ngModel)]="longitudeDegrees" />
			<input type="text" [(ngModel)]="longitudeMinutes" />
			<input type="text" [(ngModel)]="longitudeSeconds" />
		</div>
	</div>
	<div *ngSwitchCase="'metric'">
		<div>
			<h2>X</h2>
			<input type="text" [(ngModel)]="x" />
		</div>

		<div>
			<h2>Y</h2>
			<input type="text" [(ngModel)]="y" />
		</div>
	</div>
</div>

<button (click)="goToCoordinates()">
	{{ "goToCoordinates" | transloco }}:
</button>
<div>
	<h2>{{ "showPoint" | transloco }}</h2>
	<input type="checkbox" [(ngModel)]="showPoint" />
</div>

<button type="button" (click)="removeAllCoordinates()">
	{{ "clear" | transloco }}
</button>
