<div class="coordinates-container">
	<div class="coordinates-container__header">
		<app-coordinate-system
			[spatialReferences]="spatialReferences"
			(selectedReferenceChange)="onSelectedReferenceChange($event)"
		>
		</app-coordinate-system>
	</div>
	<div class="coordinates-container__main">
		<form
			*ngIf="newProjection"
			[ngSwitch]="newProjection.type"
			class="location-form"
			[formGroup]="coordinatesForm"
		>
			<ng-container *ngSwitchCase="'degree'">
				<span class="location-form__label"> {{ "latitude" | transloco }}:</span>
				<div class="location-form__row">
					<section class="location-form__section">
						<input
							type="text"
							formControlName="latitudeDegrees"
							class="location-form__field"
						/>
						<span class="location-form__col-name">{{
							"degrees" | transloco
						}}</span>
					</section>
					<section class="location-form__section">
						<input
							type="text"
							formControlName="latitudeMinutes"
							class="location-form__field"
						/>
						<span class="location-form__col-name">{{
							"minutes" | transloco
						}}</span>
					</section>
					<section class="location-form__section">
						<input
							type="text"
							formControlName="latitudeSeconds"
							class="location-form__field"
						/>
						<span class="location-form__col-name">{{
							"seconds" | transloco
						}}</span>
					</section>
				</div>
				<span class="location-form__label">{{ "longitude" | transloco }}:</span>
				<div class="location-form__row">
					<section class="location-form__section">
						<input
							type="text"
							formControlName="longitudeDegrees"
							class="location-form__field"
						/>
						<span class="location-form__col-name">{{
							"degrees" | transloco
						}}</span>
					</section>
					<section class="location-form__section">
						<input
							type="text"
							formControlName="longitudeMinutes"
							class="location-form__field"
						/>
						<span class="location-form__col-name">{{
							"minutes" | transloco
						}}</span>
					</section>
					<section class="location-form__section">
						<input
							type="text"
							formControlName="longitudeSeconds"
							class="location-form__field"
						/>
						<span class="location-form__col-name">{{
							"seconds" | transloco
						}}</span>
					</section>
				</div>
			</ng-container>
			<ng-container *ngSwitchCase="'metric'">
				<span class="location-form__label">Метры</span>
				<section class="location-form__section">
					<span class="location-form__coordinate">X</span>
					<input type="text" formControlName="x" class="location-form__field" />
				</section>

				<section class="location-form__section">
					<span class="location-form__coordinate">Y</span>
					<input type="text" formControlName="y" class="location-form__field" />
				</section>
			</ng-container>
			<label class="location-form__checkbox" for="checkbox">
				<input type="checkbox" formControlName="showPoint" id="checkbox" />
				<span>{{ "showPoint" | transloco }}</span>
			</label>
		</form>
	</div>

	<div class="coordinates-container__footer">
		<button
			type="button"
			(click)="goToCoordinates()"
			class="button button--rounded"
			[disabled]="!coordinatesForm.valid"
		>
			{{ "goToCoordinates" | transloco }}:
		</button>
		<button
			type="button"
			(click)="removeAllCoordinates()"
			class="button button--rounded"
		>
			{{ "clear" | transloco }}
		</button>
	</div>
</div>
