html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	color: rgb(0 0 0 / 87%);
}

main {
	display: flex;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

:root {
	--ol-foreground-color: #000 !important;
	--ol-subtle-foreground-color: #000 !important;
	--primary-100: #fff;
	--primary-200: #8c96b4;
	--primary-300: #626f97;
	--primary-400: #425384;
	--primary-500: #203872;
	--primary-600: #1a326a;
	--primary-700: #2c3242;
	--primary-800: #233250;
	--primary-900: #01123d;
	--primary-a100: #0041ff;
	--primary-a200: #2770f7;
	--primary-a300: #4a84f0;
	--accent-100: #fff;
	--accent-200: #e5e6eb;
	--accent-300: #c9c9c9;
	--accent-400: #9b9b9b;
	--accent-500: #8c8f97;
	--accent-600: #d8d8d8;
	--accent-700: #b4b4b4;
	--accent-800: #949494;
	--accent-900: rgb(0 0 0);
	--text-shadow: -1.5px 0 rgb(255 255 255 / 75%), 0 1.5px rgb(255 255 255 / 75%),
		1.5px 0 rgb(255 255 255 / 75%), 0 -1.5px rgb(255 255 255 / 75%);
	--draw-background: #f5f6f5;
	--font-color: rgb(0 0 0 / 87%);
}

* {
	scrollbar-color: var(--primary-700) transparent;
	scrollbar-width: thin;
}

button.button {
	flex: 1;
	width: 100%;
	color: var(--primary-a100);
	cursor: pointer;
	background-color: var(--accent-100);
	border: 1px solid var(--primary-a100);

	&--rounded {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 3.6em;
		padding: 0 2.6em;
		font-size: 10px;
		text-transform: uppercase;
		border-radius: 2em;
	}

	&--primary {
		color: var(--accent-100);
		background-color: var(--primary-a100);
	}

	&__icon {
		min-width: 12px;
		height: 12px;
		padding: 0;
		line-height: 0;
		cursor: pointer;
		background-color: transparent;
		border: none;
	}

	&:disabled {
		color: var(--accent-400);
		cursor: auto;
		background-color: var(--accent-200);
		border: none;
		opacity: 0.5;
	}

	&:hover:not(:disabled) {
		color: var(--accent-100);
		background-color: var(--primary-a200);
	}
}

.select {
	display: inline-flex;
	width: 100%;
	height: 30px;
	padding: 0 5px;
	font-size: 12px;
	background-color: var(--accent-200);
	border: none;
	border-radius: 5rem;

	&-container {
		width: 100%;
		height: 28px;
		min-height: 28px;
		padding: 0 1em;
		cursor: pointer;
		background: var(--accent-200);
		border: 1px solid transparent;
		border-radius: 5em;
	}
}

.svg-icon {
	fill: currentcolor;
}

.input {
	width: 56px;
	margin: 0 14px;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	font-size: 12px;
	line-height: 24px;
	cursor: pointer;

	&__item {
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: center;
	}

	&__item > input {
		margin: 0;
	}
}

.line-row {
	display: flex;
	gap: 1rem;
}
