<select (change)="onChange($event)">
	<option
		*ngFor="let spatialReference of spatialReferences"
		[value]="spatialReference.id"
	>
		{{ spatialReference.name }}
	</option>
</select>

<div *ngIf="point[point.length - 1]">
	<p>
		<strong>{{ "latitude" | transloco }}(Y):</strong>
		<span>{{ point[point.length - 1].coordinates[1] }} </span>
	</p>
	<p>
		<strong>{{ "longitude" | transloco }}(X):</strong>
		<span>{{ point[point.length - 1].coordinates[0] }} </span>
	</p>
	<p *ngIf="showElevation">
		<strong>{{ "elevation" | transloco }}(Z):</strong>
		<span>{{ point[point.length - 1].coordinates[2] }}</span>
	</p>
</div>

<label>
	<input type="checkbox" [(ngModel)]="showCoordinates" />
	<span>{{ "showCoordinates" | transloco }}</span>
</label>

<label>
	<input type="checkbox" [(ngModel)]="showElevation" />
	<span>{{ "showElevationFromCoordinates" | transloco }}</span>
</label>
