.coordinate-input {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.coordinate-input label {
	margin-right: 0.25rem;
}

.coordinate-input input {
	margin-right: 0.25rem;
}

.coordinate-input button {
	padding: 0;
	cursor: pointer;
	background: none;
	border: none;
}

.fa-trash {
	color: red;
}

.fa-plus {
	margin-left: 0.25rem;
	font-size: 1.25rem;
}
